@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Poppins", sans-serif;
}

.dark .glass-card {
  background: rgba(120, 120, 120, 0.1);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.205);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.377),
    inset 0 -1px 0 rgba(136, 136, 136, 0.519),
    inset 0 0 12px 6px rgba(255, 255, 255, 0.089);
  position: relative;
  overflow: hidden;
}

.dark .glass-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.05),
    transparent
  );
}

.dark .glass-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.096),
    transparent,
    rgba(255, 255, 255, 0.164)
  );
}
